header {
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    text-decoration: none;
}

.header__h2 {
    color: white;
    margin-left: 40px;
    font-size: 24px;
    text-decoration: none;
    margin-top: 24px;
}
.header__register {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}
.header__container {
    margin-top: 24px;
    margin-right: 80px;
    color: white;
}

